<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~v v공통v v~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	
	<!-- resultMap은 혹시 같이 쓰게 되는 게 있을 수도 있으니까 일단 공통에 쓰자!! 같이 안쓸 것 같지만... -수진-  -->
	
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^ ^공통^ ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			
			
			
			
			
			
			
			
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~v v수진v v~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			
			
			
			
			
			
			
			
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^ ^수진^ ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			
			
			
			
			
			
			
			
			
			
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~v v명지v v~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			
			
			
			
			
			
			
			
			
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^ ^명지^ ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->	

</mapper>