<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="basketMapper">

	<resultMap id="basketResultSet" type="Basket">
		<id property="pId" column="p_id" />
		<id property="mNo" column="m_no"/>
		<result property="pName" column="p_name"/>
		<result property="oNo" column="o_no"/>
		<result property="price" column="o_price"/>
		<result property="oName" column="o_name"/>
		<result property="category2" column="c_name2"/>
		<result property="category" column="c_name"/>
		<result property="storeName" column="storeName"/>
		<result property="amount" column="sb_amount"/>
		<result property="oAmount" column="o_amount"/>
		<result property="paChangeName" column="PA_CHANGE_NAME"/>
		<result property="oNo" column="o_no"/>
	</resultMap>

	<select id="selectbasketList" parameterType="_int" resultMap="basketResultSet">
		select p_id, m_no, p_name, o_amount, o_name, o_price, c_name, c_name2, storeName, sb_amount, PA_CHANGE_NAME, o_no
		from SHOPPING_BASKET
		join PRODUCT_OPTION using(o_no)
		join product using(p_id)
		join PRODUCT_ATTACHMENT using(p_id)
		join category using(c_id)
		join seller using(s_no)
		where m_no = #{mNo} and PA_FILE_LEVEL = 1 and O_STATUS = 'Y'
	</select>
	
	<select id="selectbasket" parameterType="Basket" resultType="_int">
	select count(o_No)
	from SHOPPING_BASKET
	where o_no = #{oNo} and m_no = #{mNo}
	</select>
	
	<select id="selectoNo" parameterType="_int" resultType="_int">
	select o_No
	from product
    join product_option using(p_id)
	where p_id = #{pId} and rownum = 1
	</select>
	
	<insert id="addBasket" parameterType="Basket">
		insert into SHOPPING_BASKET
		values (#{oNo}, #{mNo}, #{amount})
	</insert>
	
	<delete id="deleteBasket" parameterType="Basket">
		delete
		from SHOPPING_BASKET
		where o_no = #{oNo} and m_no = #{mNo}
	</delete>
	
	<update id="updateAmount" parameterType="Basket">
		update SHOPPING_BASKET
		set SB_AMOUNT = #{amount}
		where o_no = #{oNo} and m_no = #{mNo}
	</update>
	
</mapper>
	