<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="basketMapper">

	<resultMap id="basketResultSet" type="Basket">
		<id property="pId" column="p_id" />
		<id property="mNo" column="m_no"/>
		<result property="pName" column="p_name"/>
		<result property="oNo" column="o_no"/>
		<result property="price" column="o_price"/>
		<result property="oName" column="o_name"/>
		<result property="category2" column="c_name2"/>
		<result property="category" column="c_name"/>
		<result property="storeName" column="storeName"/>
		<result property="amount" column="ab_amount"/>
		<result property="oAmount" column="o_amount"/>
	</resultMap>

	<select id="selectbasketList" parameterType="_int" resultMap="basketResultSet">
		select p_id, m_no, p_name, o_amount, o_name, o_price, c_name, c_name2, storeName, ab_amount
		from SHOPPING_BASKET
		join PRODUCT_OPTION using(o_no)
		join product using(p_id)
		join category using(c_id)
		join seller using(s_no)
		where m_no = #{mNo}
	</select>
	
	<insert id="addBasket" parameterType="Basket">
		insert into basket
		values (#{oNo}, #{mNo}, #{amount})
	</insert>
	
	<delete id="deleteBasket" parameterType="Basket">
		delete
		from basket
		where o_no = #{oNo} and m_no = #{mNo}
	</delete>
	
	<update id="updateAmount" parameterType="Basket">
		update basket
		set SB_AMOUNT = #{amount}
		where o_no = #{oNo} and m_no = #{mNo}
	</update>
	
</mapper>
	