<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ggimMapper">

	<resultMap id="ggimResultSet" type="Ggim">
		<id property="pId" column="p_id" />
		<id property="mNo" column="m_no"/>
		<result property="pName" column="p_name"/>
		<result property="price" column="o_price"/>
		<result property="category" column="c_name"/>
		<result property="category2" column="c_name2"/>
		<result property="storeName" column="storeName"/>
		<result property="addDate" column="add_date"/>
		<result property="paChangeName" column="PA_CHANGE_NAME"/>
	</resultMap>

	<select id="getListCount" parameterType="_int" resultType="_int">
		select count(*)
		from ggim
		where m_no = #{mNo}
	</select>
	
	<select id="selectGgim" parameterType="Ggim" resultType="_int">
		select count(*)
		from ggim
		where m_no = #{mNo} and p_id = #{pId}
	</select>
	
	<select id="selectGgimList" parameterType="_int" resultMap="ggimResultSet">
		select c.p_id, m_no, add_date, p_name, c_name, c_name2, storeName, (select min(o_price) from product_option b where c.p_id = b.p_id) as o_price, PA_CHANGE_NAME
		from ggim a, product c, category d, PRODUCT_ATTACHMENT e, seller f
		where a.p_id = c.p_id
        and c.c_id = d.c_id
        and c.p_id = e.p_id
        and c.s_no = f.s_no
        and m_no = #{mNo} and PA_FILE_LEVEL = 1
		order by add_date desc
	</select>
	
	<insert id="addGgim" parameterType="Ggim">
		insert into ggim
		values (#{pId}, #{mNo}, default)
	</insert>
	
	<delete id="deleteGgim" parameterType="Ggim">
		delete
		from ggim
		where p_id = #{pId} and m_no = #{mNo}
	</delete>

	
</mapper>
	