<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="mNo" column="m_no"/>
		<result property="id" column="m_id"/>
		<result property="pwd" column="m_pwd"/>
		<result property="name" column="m_name"/>
		<result property="birthDate" column="birth_date"/>
		<result property="gender" column="gender"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="address" column="address"/>
		<result property="joinDate" column="join_date"/>
		<result property="dropYn" column="drop_yn"/>
		<result property="blackCode" column="black_code"/>
		<result property="emailKey" column="s_email_key"/>
	</resultMap>

	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		select *
		from member
		where m_id=#{id} and drop_yn='N'
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member
		values(member_seq.nextval, #{id}, #{pwd}, #{name}, #{birthDate}, #{gender}, #{email},
			   #{phone}, #{address}, default, default, default)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		update member
		set email=#{email}, gender=#{gender}, birth_date=#{birthDate}, phone=#{phone}, address=#{address}
		where m_id=#{id}
	</update>
	
	<update id="deleteMember" parameterType="string">
		update member
		set drop_yn='Y'
		where m_id=#{id}
	</update>

	<select id="idCheck" parameterType="string" resultType="_int">
		select count(*)
		from member
		where m_id=#{id}
	</select>
	
	
	<select id="find_id" parameterType="String" resultType="String">
			select m_id 
			from member 
			where email = #{email}
	</select>

	
	
	<!-- 이메일 -->
	<update id="newPwd2" parameterType="Member">
		update member
		set m_pwd = #{pwd}
		where m_id = #{id} and email = #{email}
	</update>
	
	
	<update id="upDatePwd" parameterType="Member">
		update member
		set m_pwd = #{pwd}
		where m_id = #{id}
	</update>
	



</mapper>






