<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pmanagerMapper">

	<resultMap type="Pmanager" id="pmanagerResultSet">
		<id property="pId" column="p_id" />
		<result property="pName" column="p_name" />
		<result property="sNo" column="s_no" />
		<result property="sName" column="s_name" />
		<result property="cId" column="c_id" />
		<result property="cName" column="c_name" />
		<result property="cName2" column="c_name2" />
		<result property="pStatus" column="p_status" />
		<result property="pViolate" column="p_violate" />
		<result property="vNo" column="v_no" />
		<result property="mNo" column="m_no" />
		<result property="mName" column="m_name" />
		<result property="vContent" column="v_content" />
		<result property="vTitle" column="v_title" />
		<result property="vDate" column="v_date" />
		<result property="pOk" column="p_ok" />
	</resultMap>

	<select id="getListCount" resultType="_int">
		select count(*)
		from pmlist
		where p_ok='N'
	</select>

	<select id="getListCount1" resultType="_int">
		select count(*)
		from pmlist
		where p_ok='Y' and c_name2=#{cName2}
	</select>
	
	<select id="getListCount2" resultType="_int">
		select count(*)
		from pmlist
		where p_ok='Y' and p_status='N'
	</select>
	
	<select id="getListCount3" resultType="_int">
		select count(*)
		from pmvlist
	</select>
	
	<select id="selectList" resultMap="pmanagerResultSet">
		select *
		from pmlist
		where c_name2=#{cName2} and p_ok='Y' and p_status='Y'
		order by p_violate desc
	</select>
	
	<select id="selectxList" resultMap="pmanagerResultSet">
		select *
		from pmlist
		where c_name2=#{cName2} and p_status='N'
	</select>
	
	<select id="pmViolateList" resultMap="pmanagerResultSet">
		select * 
		from pmvlist
		where p_id=#{pId}
	</select>
	
	<update id="pmStop" parameterType="_int">
		update pmlist
		set p_status='N'
		where p_id=#{pId}
	</update>
	
	<update id="pmrestart" parameterType="_int">
		update pmlist
		set p_status='Y'
		where p_id=#{pId}
	</update>
	
	<select id="approvalList" resultMap="pmanagerResultSet">
		select *
		from pmlist
		where p_ok='N'
	</select>
	
	<update id="approval" parameterType="_int">
		update product
		set p_ok = 'Y'
		where p_id=#{pId}
	</update>
</mapper>