<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">


	<resultMap type="Product" id="productResultSet">
		<id property="pId" column="p_id"/>
		<result property="pName" column="p_name"/>
		<result property="sNo" column="s_no"/>
		<result property="pContent" column="p_content"/>
		<result property="cId" column="c_id"/>
		<result property="pCount" column="p_count"/>
		<result property="pOk" column="p_ok"/>
		<result property="pStatus" column="p_status"/>
		<result property="pCreateDate" column="p_create_date"/>
	</resultMap>
	
	<resultMap type="Product" id="productResultSet2">
		<id property="pId" column="p_id"/>
		<result property="pName" column="p_name"/>
		<result property="sNo" column="s_no"/>
		<result property="pContent" column="p_content"/>
		<result property="cId" column="c_id"/>
		<result property="pCount" column="p_count"/>
		<result property="pOk" column="p_ok"/>
		<result property="pStatus" column="p_status"/>
		<result property="pCreateDate" column="p_create_date"/>
		<result property="pPrice" column="p_price"/>
		<result property="paChangeName" column="pa_change_name"/>
	</resultMap>
	
	<resultMap type="Category" id="categoryResultSet">
		<id property="cId" column="c_id"/>
		<result property="cName" column="c_name"/>
		<result property="cName2" column="c_name2"/>
	</resultMap>
	
	<resultMap type="ProductAttachment" id="paResultSet">
		<id property="paId" column="pa_id"/>
		<result property="paCreateDate" column="pa_create_date"/>
		<result property="paOriginName" column="pa_origin_name"/>
		<result property="paChangeName" column="pa_change_name"/>
		<result property="paFileLevel" column="pa_file_level"/>
		<result property="paStatus" column="pa_status"/>
		<result property="pId" column="p_id"/>
		<result property="filePath" column="file_path"/>
	</resultMap>
	
	<resultMap type="ProductOption" id="poResultSet">
		<id property="oNo" column="o_No"/>
		<result property="pId" column="p_id"/>
		<result property="oName" column="o_name"/>
		<result property="oPrice" column="o_price"/>
		<result property="oAmount" column="o_amount"/>
		<result property="oStatus" column="o_status"/>
		<result property="oPurchase" column="o_purchase"/>
		<result property="paChangeName" column="pa_change_name"/>
		<result property="filePath" column="file_path"/>
	</resultMap>
	
	<select id="selectcList" resultMap="categoryResultSet">
		select *
		from category
	</select>
	
	<select id="selectList" resultMap="poResultSet" parameterType="_int">
		select o.*, pa.pa_change_name, pa.file_Path
		from Product_option o
		left join product p on p.p_id=o.p_Id
		left join product_attachment pa on p.p_id=pa.p_id
		where o_status='Y' and p.s_No = #{sNo} and p.p_status = 'Y' and pa.pa_file_level=1
		order by o_No desc
	</select>
	
	<insert id="insertProduct" parameterType="Product">
		insert into Product values(product_seq.nextval, #{pName}, #{sNo}, #{pContent}, #{cId}, default, default, default, default, default)
	</insert>
	
	<insert id="insertPa" parameterType="ProductAttachment">
		insert into Product_Attachment values(product_attachment_seq.nextval, default, #{paOriginName}, #{paChangeName}, #{paFileLevel}, default,product_seq.currval, #{filePath} )
	</insert>
	
	<insert id="insertPo" parameterType="ProductOption">
		insert into Product_Option values(product_Option_seq.nextval, #{oName}, #{oPrice}, #{oAmount}, default, default, product_seq.currval)
	</insert>
	
	<select id="selectProduct" parameterType="_int" resultMap="productResultSet">
		select * from Product where p_Id = #{pId}
	</select>
	
	<select id="selectPa" parameterType="Product" resultMap="paResultSet">
		select * from product_attachment where p_Id=#{pId}
	</select>
	
	<select id="selectPo" parameterType="Product" resultMap="poResultSet">
		select * from product_option where p_Id=#{pId}
	</select>
	
	<update id="updatepCount" parameterType="_int">
		update product
		set p_count = p_count + 1
		where p_Id = #{pId}
	</update>
	
	<update id="deleteOption" parameterType="_int">
		update product_option
		set o_Status = 'N'
		where o_no = #{oNo}
	</update>
	
	<select id="selectpList" parameterType="CategoryNumber" resultMap="productResultSet2">
		select  p.*, pa.pa_change_name, (select min(o_price) from product_option po1 where p.p_id=po1.p_id and o_status='Y')p_price
		from product p
		join product_attachment pa on(p.p_Id = pa.p_Id)
		where p.p_status='Y' and pa.pa_file_level=1 and c_id between #{startNum} and #{endNum}
	</select>
	
	<select id="listCount" parameterType="CategoryNumber" resultType="_int">
		select count(*)
		from product p
		where p.p_status='Y' and c_id between #{startNum} and #{endNum}
	</select>
	
	<select id="searchListCount" parameterType="CategoryNumber" resultType="_int">
		select count(*)
		from product p
		where p.p_status='Y' and p_name like '%' ||  #{keyword} || '%' and c_id between #{startNum} and #{endNum}
	</select>

	<select id="search" parameterType="CategoryNumber" resultMap="productResultSet2">
		select  p.*, pa.pa_change_name, (select min(o_price) from product_option po1 where p.p_id=po1.p_id and o_status='Y')p_price
		from product p
		join product_attachment pa on(p.p_Id = pa.p_Id)
		where p.p_status='Y' and p_name like '%' ||  #{keyword} || '%' and c_id between #{startNum} and #{endNum}
	
	</select>


</mapper>
