<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaMapper">
	
	<resultMap id="qnaResultSet" type="qna">
		<id property="uqId" column="q_id" />
		<result property="uqTitle" column="q_title" />
		<result property="uqCategory" column="q_category" />
		<result property="uqContent" column="q_content" />
		<result property="mNo" column="m_no" />
		<result property="uqCount" column="q_count" />
		<result property="uqCreateDate" column="q_create_date" />
		<result property="uqModifyDate" column="q_modify_date" />
		<result property="uqStatus" column="q_status" />
		<result property="mName" column="m_name" />
	</resultMap>
	
	<resultMap  id="answerResultSet" type="answer">
		<id property="aId" column="a_id" />
		<result property="qId" column="q_id" />
		<result property="aTitle" column="a_title" />
		<result property="aContent" column="a_content" />
		<result property="aWriter" column="a_writer" />
		<result property="aCreateDate" column="a_create_date" />
		<result property="aStatus" column="a_status" />
	</resultMap>
	

	<select id="getListCount" resultType="_int">
		select count(*)
		from qna
		where q_status='N'
	</select>
	
	<select id="selectList" resultMap="qnaResultSet">
		select * 
		from qlist
	</select>
	
	<insert id="insertQna" parameterType="Qna">
		insert into qna
		values(qna_seq.nextval, #{uqCategory}, #{uqTitle}, #{uqContent}, #{mNo}, default, sysdate, sysdate, default )
	</insert>
	
	<update id="updateCount" parameterType="_int">
		update qna
		set q_count = q_count +1
		where q_id=#{uqId}
	</update>
	
	<select id="selectQna" parameterType="_int" resultMap="qnaResultSet">
		select * 
		from qdetail
		where q_id=#{q.uqId}
	</select>
	
	<update id="updateQna" parameterType="Qna">
		update qna
		set q_category=#{uqCategory}, q_title=#{uqTitle}, q_content=#{uqContent}, q_modify_date=sysdate
		where q_id=#{uqId}
	</update>
	
	<delete id="deleteQna" parameterType="_int">
		update qna
		set q_status='Y'
		where q_id=#{uqId}
	</delete>
	
	<insert id="insertAnswer" parameterType="Answer">
		insert into answer
		values(answer_seq.nextval, #{qId}, #{aTitle}, #{aContent}, #{aWriter}, sysdate, default)
	</insert>
	
	<select id="selectAList" resultMap="answerResultSet">
		select *
		from answer	
		where a_stauts='N'
	</select>
	
	<select id="selectAnswer" parameterType="_int" resultMap="answerResultSet">
		select * 
		from answer
		where q_id=#{upId} and a_stauts='N'
	</select>
	
	<update id="deleteAnswer" parameterType="_int">
		update answer
		set a_stauts='Y'
		where q_id=#{uqId}
	</update>
</mapper>