<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaMapper">
	
	<resultMap id="qnaResultSet" type="qna">
		<id property="uqId" column="q_id" />
		<result property="uqTitle" column="q_title" />
		<result property="uqCategory" column="q_category" />
		<result property="uqContent" column="q_content" />
		<result property="mNo" column="m_no" />
		<result property="uqCount" column="q_count" />
		<result property="uqCreateDate" column="q_create_date" />
		<result property="uqModifyDate" column="q_modify_date" />
		<result property="uqStatus" column="q_status" />
		<result property="mName" column="m_name" />
	</resultMap>
	

	<select id="getListCount" resultType="_int">
		select count(*)
		from qna
		where q_status='N'
	</select>
	
	<select id="selectList" resultMap="qnaResultSet">
		select * 
		from qlist
	</select>
	
	<insert id="insertQna" parameterType="Qna">
		insert into qna
		values(qna_seq.nextval, #{uqCategory}, #{uqTitle}, #{uqContent}, #{mNo}, default, sysdate, sysdate, default )
	</insert>
	
</mapper>