<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

	<resultMap id="reviewResultSet" type="Review">
		<id property="rId" column="r_id" />
		<result property="rTitle" column="r_title"/>
		<result property="rContents" column="r_contents"/>
		<result property="rDate" column="r_date"/>
		<result property="rCount" column="r_count"/>
		<result property="mNo" column="m_no"/>
		<result property="mId" column="m_id"/>
		<result property="rDel" column="r_del"/>
		<result property="rCommend" column="r_commend"/>
		<result property="payId" column="pay_id"/>
		<result property="rImage" column="r_image"/>
	</resultMap>
	
	<resultMap id="paymentResultSet" type="Payment">
		<id property="payId" column="pay_id" />
		<result property="pId" column="p_id"/>
		<result property="price" column="price"/>
		<result property="pStatus" column="p_status"/>
		<result property="payRequest" column="pay_request"/>
		<result property="payDate" column="pay_date"/>
		<result property="count" column="count"/>
		<result property="deleveryStatus" column="delevery_status"/>
		<result property="pName" column="p_name"/>
		<result property="storeName" column="storename"/>
		<result property="sBphone" column="s_bphone"/>
		<result property="oNo" column="o_no"/>
		<result property="oName" column="o_name"/>
	</resultMap>
	
	<resultMap id="replyResultSet" type="Reply">
		<id property="rrId" column="r_r_id" />
		<result property="mNo" column="m_no"/>
		<result property="mId" column="m_id"/>
		<result property="rrContents" column="r_r_contents"/>
		<result property="rrDate" column="r_r_date"/>
		<result property="rrDel" column="r_r_del"/>
		<result property="rId" column="r_id"/>
	</resultMap>
	
	<resultMap id="commendResultSet" type="Commend">
		<id property="mNo" column="m_no" />
		<id property="rId" column="r_id" />
	</resultMap>

	<select id="selectMyReviewList" parameterType="_int" resultMap="reviewResultSet">
		select r_id, r_title, r_contents, r_date, r_count, m_no, m_id, r_del, r_commend, pay_id, r_image
		from REVIEW
		join member using(m_no)
		where m_no = #{mNo} and r_del = 'N'
	</select>
	
	<select id="selectProdReviewList" parameterType="_int" resultMap="reviewResultSet">
		select r_id, r_title, r_contents, r_date, r_count, a.m_no, m_id, r_del, r_commend, c.pay_id, r_image
		from REVIEW A, member B, payment C, product_option D
		where a.m_no = b.m_no
		and a.pay_id = c.pay_id
		and c.o_no = d.o_no
		AND p_id = #{pId} and r_del = 'N'
		order by r_commend desc
	</select>
	
	<select id="addAbleReview" parameterType="_int" resultMap="paymentResultSet">
		select pay_id, p_id, price, p_status, pay_request, pay_date, count, delevery_status, p_name, storename, s_bphone, o_no, o_name
		from payment
		left join review using(pay_id)
		join PRODUCT_OPTION using(o_no)
		join product using(p_id)
		join seller using(s_no)
		where m_no = #{mNo} and DELIVERY_STATUS = '구매확정'
		and r_id is null
	</select>
	
	<select id="selectReview" parameterType="_int" resultMap="reviewResultSet">
		select *
		from review
		where r_id = #{rId] and r_del = 'N'
	</select>
	
	<update id="countUp" parameterType="_int">
		update review
		set r_count = r_count+1
		where r_id = #{rId]
	</update>
	
	<insert id="addReview" parameterType="Review">
		insert into review
		values (review_seq.nextval, #{rTitle}, #{rContents}, default, default, #{mNo}, default, default, #{payId}, #{rImage})
	</insert>
	
	<update id="updateReview" parameterType="Review">
		update review
		set r_title = #{rTitle}, r_contents = #{rContents}, r_image = #{rImage}
		where r_id = #{rId]
	</update>
	
	<update id="deleteReview" parameterType="_int">
		update review
		set r_del = 'Y'
		where r_id = #{rId}
	</update>
	
	<select id="selectCommendList" parameterType="_int" resultMap="commendResultSet">
		select *
		from review_commend
		where m_no = #{mNo}
	</select>
	
	<select id="selectDupleCommend" parameterType="_int" resultType="_int">
		select count(*)
		from review_commend
		where m_no = #{mNo} and r_id = #{rId}
	</select>
	
	<delete id="cancleCommend" parameterType="Commend">
		delete from REVIEW_COMMEND
		where r_id = #{rId} and m_no = #{mNo}
	</delete>
	
	<update id="decreaseCommend">
		update review
		set r_commend = r_commend - 1
		where r_id = #{rId}
	</update>
	
	<insert id="addCommend" parameterType="Commend">
		insert into REVIEW_COMMEND
		values (#{rId}, #{mNo})
	</insert>
	
	<update id="increaseCommend">
		update review
		set r_commend = r_commend + 1
		where r_id = #{rId}
	</update>
	
	<select id="getReplyList" parameterType="_int" resultMap="replyResultSet">
		select r_r_id, m_no, m_id, r_r_contents, r_r_date, r_r_del, r_id
		from REVIEW_REPLY
		join member using(m_no)
		where r_id = #{rId} and R_R_DEL = 'N'
		order by r_r_date
	</select>
	
	<insert id="addReply" parameterType="Reply">
		insert into REVIEW_REPLY
		values (REVIEW_REPLY_seq.nextval, #{mNo}, #{rrContents}, default, default, #{rId})
	</insert>
	
	<update id="deleteReply" parameterType="_int">
		update REVIEW_REPLY
		set r_r_del = 'Y'
		where r_r_id = #{rrId}
	</update>
	
	
</mapper>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	