<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sellerMapper">

	<resultMap id="sellerResultSet" type="Seller">
		<id property="sNo" column="s_no"/>
		<result property="sId" column="s_id"/>
		<result property="sPwd" column="s_pwd"/>
		<result property="sName" column="s_name"/>
		<result property="sAddress" column="s_address"/>
		<result property="sNum" column="s_num"/>
		<result property="sEmail" column="s_email"/>
		<result property="sPhone" column="s_phone"/>
		<result property="stNum" column="s_tnum"/>
		<result property="sbNum" column="s_bnum"/>
		<result property="storeName" column="storename"/>
		<result property="sCeoName" column="s_ceoname"/>
		<result property="sector" column="sector"/>
		<result property="sbAddress" column="s_baddress"/>
		<result property="sbPhone" column="s_bphone"/>
		<result property="sOk" column="s_ok"/>
		<result property="sStatus" column="s_status"/>
	</resultMap>


	<!-- 가입 -->
	<insert id="insertSeller" parameterType="Seller">
		insert into seller values( seller_seq.nextval, #{sId}, #{sPwd}, #{sName}, #{sAddress}, #{sNum}, #{sEmail}, #{sPhone}, #{stNum}, #{sbNum},
									#{storeName}, #{sCeoName}, #{sector}, #{sbAddress}, #{sbPhone}, default, default)
	</insert>

	<!-- 로그인 -->
	<select id="loginSeller" parameterType="Seller" resultMap="sellerResultSet">
		select *
		from seller
		where s_id=#{sId} and s_status='Y'
	</select>
	
	<select id="sIdCheck" parameterType="string" resultType="_int">
		select count(*)
		from seller
		where s_id=#{sId} and s_status='Y'
	</select>
	
	<select id="findsId" parameterType="String" resultType="String">
		select s_id 
		from seller
		where s_email = #{sEmail}
	</select>
	
	<update id="updateSeller" parameterType="Seller">
		update seller
		set s_phone=#{sPhone}, s_address=#{sAddress}, storeName=#{storeName}, s_ceoName=#{sCeoName}, s_bphone=#{sbPhone}, s_bAddress=#{sbAddress}
		where s_id=#{sId}
	</update>
	
	<select id="getListCount" resultType="_int" parameterType="_int">
		select count(*)
		from product_option
		where s_id=#{sId}
	</select>
	
	<select id="selectList" resultType="ProductOption" parameterType="_int">
	
	</select>
	<update id="deleteSeller" parameterType="Seller">
		update seller
		set s_status='N'
		where s_name=#{sName} and s_id=#{sId}
	</update>


</mapper>