<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="violateMapper">

	<resultMap id="violateResultSet" type="Violate">
		<id property="vNo" column="v_no"/>
  		<result property="sNo" column="s_no"/>
  		<result property="sName" column="s_name"/>
  		<result property="mNo" column="m_no"/>
  		<result property="mName" column="m_name"/>
  		<result property="pId" column="p_id"/>
  		<result property="stNo" column="st_no"/>
  		<result property="vTitle" column="v_title"/>
  		<result property="vContent" column="v_content"/>
  		<result property="vDate" column="v_date"/>
  		<result property="vPhoto" column="v_photo"/>
  		<result property="vStatus" column="v_status"/>
	</resultMap>

	<select id="getListCount" resultType="_int">
		select count(*)
		from violate
	</select>

	<select id="selectList" resultMap="violateResultSet">
		select *
		from vList
	</select>

	<select id="insertViolate" parameterType="Violate">
  	insert into violate
  	values(violate_seq.nextval, #{sNO}, #{mNo}, #{pId}, 
  			#{stNo}, #{vTitle},  #{vContent},  sysdate,  #{vPhoto},  default)
  </select>




</mapper>