<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vmessageMapper">

	<resultMap id="vmessageResultSet" type="Vmessage">
		<id property="vmNo" column="vm_no"/>
  		<result property="sNo" column="s_no"/>
  		<result property="sName" column="s_name"/>
  		<result property="pId" column="p_Id"/>
  		<result property="pName" column="p_name"/>
  		<result property="vmTitle" column="vm_title"/>
  		<result property="vmContent" column="vm_content"/>
  		<result property="vmSendDate" column="vm_send_date"/>
  		<result property="vmCheckDate" column="vm_check_date"/>
  		<result property="vmOriginalFileName" column="vm_original_filename"/> 		
  		<result property="vmRenameFileName" column="vm_Rename_filename"/> 		
  		<result property="vmStatus" column="vm_status"/>
	</resultMap>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from vmessage
	</select>
	<select id="getSellerListCount" resultType="_int" parameterType="_int">
		select count(*)
		from vmessage
		where s_no=#{sNo}
	</select>

	<select id="selectList" resultMap="vmessageResultSet">
		select *
		from vmList
	</select>
	<select id="selectSellerList" resultMap="vmessageResultSet" parameterType="_int">
		select *
		from vmList
		where s_no=#{sNo}
	</select>

	
	<select id="vmessageCheck" parameterType="_int" resultType="String">
		select vm_check_date
		from vmList
		where s_no=#{sNo}
	</select>
	
	<update id="vmessageCheckDate" parameterType="_int">
		update vmessage
		set vm_check_date = sysdate
  		where vm_No=#{vmNo}
	</update>

	<select id="vmessageDetail" resultMap="vmessageResultSet" parameterType="_int">
		select *
		from vmList
		where vm_no=#{vmNo}
	</select>
	<insert id="vmessageInsert" parameterType="Vmessage">
	insert into vmessage
	values(VMESSAGE_SEQ.nextval,#{sNo},#{pId},#{vmTitle},#{vmContent},sysdate,null,#{vmOriginalFileName},#{vmRenameFileName},default)
	</insert>
</mapper>