<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vmessageMapper">

	<resultMap id="vmessageResultSet" type="Vmessage">
		<id property="vmNo" column="vm_no"/>
  		<result property="sNo" column="s_no"/>
  		<result property="sName" column="s_name"/>
  		<result property="vmTitle" column="vm_title"/>
  		<result property="vmContent" column="vm_content"/>
  		<result property="vmSendDate" column="vm_send_date"/>
  		<result property="vmCheckDate" column="vm_check_date"/>
  		<result property="vmStatus" column="vm_status"/>
	</resultMap>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from vmessage
	</select>

	<select id="selectList" resultMap="vmessageResultSet">
		select *
		from vmList
	</select>

</mapper>