@charset "UTF-8";

.cart_section{
height: auto;
padding-top: 0;
}
.tablehead{
height:40px;
border: 1px solid black;
}
.tablebody{
height:100px;
border: 1px solid black;
}
.order_total_title{
font-size: 13px;
font-style: bold;
color:black;
}
.categoryMenu{
	color:#2e263c;
	font-weight: bold;
}
.categoryMenu:hover{
cursor: pointer;

color: #0e8ce4;
}
table a{
	color: #327bfa !important;
}
table a:hover{
	color: #79a7f7 !important;
}
td{
text-align: center;
border: 2px solid #edeeef;
border-left: 1px solid white;
border-right: 1px solid white;
font-size:12px;
}
.cart_title{
font-size: 20px !important;
padding:0 !important;
}
.cart_items{
margin:0 !important;

}

.clearfix{
padding: 0px;
}

.cartTb{
cellspacing="0" 
}
.shop{
padding-bottom: 0px !important;
padding-top:50px  !important;
}


ul{
list-style:none;
}
.tabmenu{ 
height:60px;
margin-top:30px;
display:block;
border-top: 2px solid #e6e6e6;
border-bottom: 2px solid #e6e6e6;
}
.tabmenu ul li{
display:  inline-block;
width:170px; 
float:left;  
text-align:center; 
background :withe;
padding: 10px;

}
.tabmenu label{
display:block;
width:100%; 
height:40px;
line-height:40px;
}
.tabmenu input{display:none;}

.tabmenu input:checked ~ label{
color: #0e8ce4;
font-style: bold;
border-bottom-color: #0e8ce4;
}
.ggimTd1{
	width:250px;
}
.ggimTd2{
	width:600px;
	text-align: left !important;
}
.cancle{
width:50px;
color:gray;
font-size: 15px;
cursor: pointer;
}
.cancle:hover{
color:#0e8ce4;
}

.cart_section{
height: auto;
padding-top: 0;

}
.tablehead{
height:40px;
border: 1px solid black;
}
.tablebody{
height:100px;
border: 1px solid black;
}
.order_total_title{
font-size: 13px;
font-style: bold;
color:black;
}

td{
text-align: center;
border: 2px solid #edeeef;
border-left: 1px solid white;
border-right: 1px solid white;
font-size:12px;
}
.cart_title{
font-size: 20px !important;
padding:0 !important;
}
.cart_items{
margin:0 !important;

}
.cartinfo{

background-color: #edeeef;
padding:20px;
margin-top:30px;
margin-bottom:30px;
font-size:13px;
}
.clearfix{
padding: 0px;
}
.btnBack{
width:70%;
padding: 4px;
font-size:13px;
cursor: pointer;
background-color:white;
border: 2px solid #edeeef;
}
.btnBack:hover{
	border: 2px solid #0e8ce4;
}
.btnCart{
width:auto;
padding: 2px;
font-size:9px;
cursor: pointer;
background-color: #e6e6e6;
border: 1px solid #edeeef;
border-radius: 2px;
}
.btnSearch{
	cursor: pointer;
	background-color: #0e8ce4;
	color:white ;
	border: 1px solid #edeeef;
	padding: 3px;
font-size:12px;
border-radius: 4px;
	
}
.btnCart:hover, .btnSearch:hover{
	background-color: #99c2ff;

}
.btnCart2{
width:100px;
font-size:12px;
height:30px;
margin-top:30px;
background-color: #e6e6e6;
border: 1px solid #edeeef;
cursor: pointer;
}
.btnCart2:hover{
border: 1px solid #0e8ce4;
}

.cartTb{
cellspacing="0" 
}
.shop{
padding-bottom: 0px !important;
padding-top:50px  !important;
}
.price2{
color:#0e8ce4;
display:inline-block; 
width:50px; 
text-align: right; 
margin-right:5px;
}
.btnBack2{
	background:#0e8ce4;
  color:#fff;
  border:none;
  height:50px;
  font-size:1.1em;
  cursor:pointer;
  border-radius: 3px;
  padding:0 2em;
  width:auto;
  font-weight: bold;
}
.cart_checkout{
  background:#0e8ce4;
  color:#fff;
  border:none;
  position:relative;
  height:50px;
  font-size:1.1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 3px;
  font-weight: bold;
}
.cart_checkout:hover{
  background:#fff;
  color:#0e8ce4;
}
.cart_checkout:before,.cart_checkout:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #0e8ce4;
  transition:400ms ease all;
}
.cart_checkout:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.cart_checkout:hover:before,.cart_checkout:hover:after{
  width:100%;
  transition:800ms ease all;
}
.cart_section{
height: auto;
padding-top: 0;
}
.tablehead{
height:40px;
border: 1px solid black;
}
.tablebody{
height:100px;
border: 1px solid black;
}
.order_total_title{
font-size: 13px;
font-style: bold;
color:black;
}

.prodList td{
text-align: center;
border: 2px solid #edeeef;
border-left: 1px solid white;
border-right: 1px solid white;
font-size:12px;
}
.cart_title{
font-size: 20px !important;
padding:0 !important;
}
.cart_items{
margin:0 !important;

}

.clearfix{
padding: 0px;
}

.cartTb{
cellspacing="0" 
}
.shop{
padding-bottom: 0px !important;
padding-top:50px  !important;
}


.removeReview{
width:50px;
color:gray;
font-size: 15px;
cursor: pointer;
}
.removeReview:hover{
color: #0e8ce4;
}

.amount{
width:40px; 
text-align:center; 
margin:auto; 
border:1px solid gray;
}
.updateReview:hover, .makeReview:hover, .updateInfo:hover{

border: 2px solid #0e8ce4;
}

#content{
height:100px;
border: 2px solid #edeeef;
}
#title{
height: 30px;
line-height: normal;
border: 2px solid #edeeef;
width:100%;
}
.modal-header{
background-color: #0e8ce4;
}
.modal-body{
text-align: left !important;
padding-bottom: 5px !important;
}
.modalLabel{
font-size:12px;
font-weight: bold;
}
.modal {
text-align: center;
}
@media screen and (min-width: 768px) { 
.modal:before {
display: inline-block;
vertical-align: middle;
content: " ";
height: 100%;
}
}
.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

#file { display:none; } 

#titleImg{
max-width:280px;
max-height:230px;
width:auto;
height:auto;

}
.reviewImg{
	max-height:180px; 
	max-width:200px;
	width:auto; 
	height:auto;
	border-radius: 5px;
}
.basketImg{
	border-radius: 3px;
max-width:110px;
max-height:80px;
width:auto;
height:auto;
}
.ableReviewImg{
max-width:170px;
max-height:90px;
width:auto;
height:auto;
border-radius: 3px;
}
.ggimImg{
	border-radius:6px;
max-width:200px;
max-height:170px;
width:auto;
height:auto;
}
.inquiryImg{
max-width:210px;
max-height:130px;
width:auto;
height:auto;

}
#contentLabel{
color:gray; 
display: block; 
text-align: right; 
margin-right:20px;
margin-bottom: 0px;
}
.cart_section{
height: auto;
padding-top: 0;
}
.tablehead{
height:40px;
border: 1px solid black;
}
.tablebody{
height:100px;
border: 1px solid black;
}
.order_total_title{
font-size: 13px;
font-style: bold;
color:black;
}

.contentsList td{
text-align: center;
border: 2px solid #e6e6e6;
border-left: 1px solid white;
border-right: 1px solid white;
font-size:12px;
}
.cart_title{
font-size: 20px !important;
padding:0 !important;
}
.cart_items{
margin:0 !important;

}

.clearfix{
padding: 0px;
}

.cartTb{
cellspacing="0" 
}
.shop{
padding-bottom: 0px !important;
padding-top:50px  !important;
}

.cartinfo{
background-color: #edeeef;
padding:20px;
margin-top:30px;
margin-bottom:30px;
font-size:13px;
}


.updateReview, .makeReview, .updateInfo{
width:70%;
padding: 4px;
font-size:13px;
cursor: pointer;
background-color:white;
border: 2px solid #e6e6e6;

}
.btn-info, .btn-outline-info{
	font-size: 12px !important;
}
#content{
height:100px;
border: 2px solid #edeeef;
}

.modal-header{
background-color: #0e8ce4;
}
.modalLabel{
font-size:12px;
font-weight: bold;
}
.modal {
text-align: center;
}
@media screen and (min-width: 768px) { 
.modal:before {
display: inline-block;
vertical-align: middle;
content: " ";
height: 100%;
}
}
.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

#file { display:none; } 


.answer{
margin:5px;
padding:3px;
border-radius:3px;
background-color: gray;
color:white;
	
}

.pay_items{
	border:1px solid #edeeef;
	border-bottom: 2px dashed gray;
	
}
.pay_items td, .pay_items .tablehead, .pay_items .tablebody{
	border: none;
}
.pay_items .tablehead{
	border-bottom: 2px solid #edeeef;
}
.pay_items a, .pay_items span{
	color: black !important;
}
.pay_items a:hover{
	text-decoration: underline;
	color: black !important;
}
.subTitle{
	color: #2e263c;
	font-weight: bold;
}
.delivery{
	height: 400px;
	padding-top:50px;
	padding-left:70px;
	padding-right:80px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	border: 3px solid #edeeef;
	background-color: #fafafa;
}
.orderTotal{
	width:auto;
	margin-left:auto;
	margin-right: auto;
}
.orderTotal span{
	font-size:16px;
	font-weight: bold;
	
}
.orderCost{
	border-bottom: 2px solid gray; 
	width:auto;
	padding-bottom:5px;
}
.deliveryLabel{
	font-size:12px;
}
.deliverySpot2{
	display:none;
}
.deliverySpot1 p, .deliverySpot2 td, .memo{
	font-size:13px;
	color: #2e263c;
	
}
.col-lg-11{
	margin-left:auto;
	margin-right:auto;
	
}
.recipient{
border:1px solid #b5b3b3;
height:25px;
border-radius: 2px;
}
.deliveryTable{
	width:100%;
}
.deliveryTable td{
	border: 0px;
	text-align: left;
	height:40px !important;
}
.phone{
	width:50px !important;
	text-align: center !important;
}
.postcodify_postcode5{
	width: 50px;
}
.postcodify_address, .postcodify_details{
	width: 180px;
}
.address{
	text-align: center !important;
}
.pen{
	text-shadow:  3px 0px 3px #b4e7f8, -3px 0px 3px #b4e7f8,  6px 0px 6px #b4e7f8, -6px 0px 6px #8bb8f7;
	font-weight: bold;
}
input[type="radio"], input[type="checkbox"]{
	width:13px;
	height:13px;
	margin:0 0 2px;
	padding:0;
	border: 1px solid #FFF;
	vertical-align:middle;
	 background-color: $white-color;
  border: 2px solid $font-color-3;
	}
.checkoutArae{
	text-align: center;
	margin:30px;
}