<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.panda.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.panda.myShopping.ggim.model.vo.Ggim" alias="Ggim"/>
		<typeAlias type="com.kh.panda.myShopping.basket.model.vo.Basket" alias="Basket"/>
		<typeAlias type="com.kh.panda.myShopping.inquiry.model.vo.Inquiry" alias="Inquiry"/>
		<typeAlias type="com.kh.panda.admin.board.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.kh.panda.admin.violate.model.vo.Violate" alias="Violate"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/ggim-mapper.xml"/>
		<mapper resource="mappers/basket-mapper.xml"/>
		<mapper resource="mappers/inquiry-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/violate-mapper.xml"/>
	</mappers>
</configuration>
